<!DOCTYPE html>
<html>
    <head>
        <title>[STORY TITLE]</title>
        <link rel = "stylesheet" type = "text/css" href = "scrolly_style.css">
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="https://unpkg.com/intersection-observer"></script>
        <script src="https://unpkg.com/scrollama"></script>
    </head>
    <body>
        <script type = "text/javascript" src = "scrolly_template.js"></script>
        <!--HEADER (W/ TITLE, ETC.)-->
        <div id = "header">
            <h1>story title</h1>
            <h2>by [topic expert] & [cartographers]</h2>
        </div>
        <div class = "text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut tortor id sapien faucibus efficitur eu a justo. Nullam fermentum efficitur vulputate. Morbi interdum tortor sed varius eleifend. Vivamus venenatis justo nec ornare pulvinar. Sed sollicitudin massa a eros luctus, suscipit aliquet orci placerat. Proin ac placerat lacus. Suspendisse ut felis sollicitudin, aliquam velit a, consectetur eros. Proin mattis arcu ut felis consequat, a dictum diam efficitur. Nam ac nulla hendrerit velit pretium aliquet. Donec hendrerit ipsum felis. Donec rutrum orci eget efficitur viverra. Suspendisse vestibulum vitae nisl eu lobortis. Pellentesque ornare urna nec euismod mattis. Pellentesque a ullamcorper est.</p>
            <p>Aliquam velit elit, tempor bibendum malesuada at, venenatis non turpis. Morbi eu ornare sem. Pellentesque tempor pharetra dui ut condimentum. Nam sodales eros libero, nec ultricies justo tristique in. Etiam sapien dui, elementum at mauris sit amet, volutpat sollicitudin odio. Cras malesuada nisi erat, sed tincidunt justo sodales nec. Donec nec cursus sapien, sit amet mattis mi. Nullam dapibus scelerisque quam, sed accumsan nunc rhoncus at. Vestibulum volutpat bibendum feugiat. Integer vel velit volutpat, faucibus libero a, euismod nunc.
            </p>
        </div>
        <section class = "scrollySection">
            <div class = "scrollyFigure" id = "InsertGraphicID">
            </div>
            <article>
                <div class = "step" data-step = "0">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent magna nibh, congue vel est sit amet, auctor ornare ligula. Vivamus quis dolor neque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Suspendisse accumsan erat in tortor facilisis scelerisque. Fusce in interdum orci, a venenatis massa. Aenean.
                    </p>
                   
                </div>
                <div class = "step" data-step = "1">
                    <p>
                        Nulla fermentum maximus iaculis. Cras viverra, magna eu ornare tempus, turpis ex lobortis mauris, in eleifend enim felis id augue. Fusce nec quam sed magna feugiat ornare non vel risus. Praesent in velit leo. Sed non arcu justo. Duis eget euismod enim, quis convallis risus.
                    </p>
                </div>
                <div class = "step" data-step = "2">
                    <p>
                        Aliquam vehicula nisi at odio fermentum, quis rutrum erat vulputate. Mauris semper eleifend odio, eu consequat dolor aliquet at. Nunc vestibulum eros nulla. Curabitur eget arcu ultricies, vulputate ipsum eget, lobortis metus. 
                    </p>
                </div>
                <div class = "step" data-step = "3">
                    <p>
                        Curabitur eget arcu ultricies, vulputate ipsum eget, lobortis metus. Integer vel cursus eros, auctor mollis arcu. In augue lacus, dapibus et massa eu, imperdiet congue nisl. Nam luctus ipsum ut lacus pulvinar fringilla. Donec at tincidunt enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed urna dolor, aliquam vitae cursus nec, facilisis dictum libero.
                    </p>
                </div>
                <div class = "step" data-step = "4">
                    <p>
                        Ut id aliquet massa. Nullam vel efficitur mi. Aliquam scelerisque accumsan leo. Praesent tempor est vel augue aliquet congue. Phasellus ultricies nibh ac quam hendrerit mollis. Nullam dictum ut justo quis tempus. Pellentesque sit amet eros ut odio consectetur tempus eu ac risus.
                    </p>
                </div>
            </article>
        </section>
        <div class = "text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut tortor id sapien faucibus efficitur eu a justo. Nullam fermentum efficitur vulputate. Morbi interdum tortor sed varius eleifend. Vivamus venenatis justo nec ornare pulvinar. Sed sollicitudin massa a eros luctus, suscipit aliquet orci placerat. Proin ac placerat lacus. Suspendisse ut felis sollicitudin, aliquam velit a, consectetur eros. Proin mattis arcu ut felis consequat, a dictum diam efficitur. Nam ac nulla hendrerit velit pretium aliquet. Donec hendrerit ipsum felis. Donec rutrum orci eget efficitur viverra. Suspendisse vestibulum vitae nisl eu lobortis. Pellentesque ornare urna nec euismod mattis. Pellentesque a ullamcorper est.</p>
            <p>Aliquam velit elit, tempor bibendum malesuada at, venenatis non turpis. Morbi eu ornare sem. Pellentesque tempor pharetra dui ut condimentum. Nam sodales eros libero, nec ultricies justo tristique in. Etiam sapien dui, elementum at mauris sit amet, volutpat sollicitudin odio. Cras malesuada nisi erat, sed tincidunt justo sodales nec. Donec nec cursus sapien, sit amet mattis mi. Nullam dapibus scelerisque quam, sed accumsan nunc rhoncus at. Vestibulum volutpat bibendum feugiat. Integer vel velit volutpat, faucibus libero a, euismod nunc.
            </p>
        </div>
    </body>
</html>